<h1 class="h1 mb-3">Lista todo</h1>
<%= link_to 'Nowe zadanie', new_task_path, :class => "btn btn-primary mb-4" %>
<table class="table table-bordered table-responsive">
  <tr>
    <th>Tytuł</th>
    <th>Notatka</th>
    <th>Komentarzy</th>
    <th>Akcja</th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.note %></td>
      <td><%= task.comments.count %></td>
      <td>
      	<%= link_to 'Edytuj', edit_task_path(task) %> | 
      	<%= link_to 'Zobacz', task_path(task) %> |
      	<%= link_to 'Usuń', task_path(task),
              method: :delete,
              data: { confirm: 'Czy na pewno chcesz usunąć?' } %>
      </td>
    </tr>
  <% end %>
</table>